mixin recentFixtures(lastMatch, nextMatch)
	.col-md-offset-1.col-md-10
		.row
			.text-center.col-md-6
				h4 Last Match
				h4 #{lastMatch.hometeam + ' ' + lastMatch.homegoals + ' - ' + lastMatch.awaygoals + ' ' + lastMatch.awayteam}
			.text-center.col-md-6
				h4 Next Match
				h4 #{nextMatch.hometeam + ' vs. ' + nextMatch.awayteam}


mixin fixture(match, rowNum)
	if (match.homegoals === null)
		//- Game Not Yet Played.col-md-offset-1.col-md-10
		.text-center.col-md-offset-1.col-md-10
			h2 #{match.hometeam + ' - ' + match.awayteam}
	else
		//- Game Completed or In Progress
		.text-center.col-md-offset-1.col-md-10
			h2 #{match.hometeam + ' ' + match.homegoals + ' - ' + match.awaygoals + ' ' + match.awayteam}
