// Footer
footer.footer.bg-light
	| © 2017 Copyright: Vladimir Corja
// /.Footer


<!-- Link JavaScript at the end, so pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
script(src='/libs/jquery.min.js')
<!-- Bootstrap's JS -->
script(src='/libs/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')

<!-- Custom scripts here -->
script(type='text/javascript').
	(function($) {
		$(function() { // DOM Ready

			// Check if on mobile device
			var isMobile;

			// On hover, close open dropdowns
			$('.dropdown').mouseenter(function() {
				isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
				if(!isMobile) { // disable for mobile view
			        if(!$(this).hasClass('open')) { // Keeps it open when hover it again
						$(this).toggleClass("open");
			        }
			    }
			});
			$('.dropdown').mouseleave(function() {
				isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
				if(!isMobile) { // disable for mobile view
			        if($(this).hasClass('open')) { // Keeps it open when hover it again
						$(this).toggleClass("open");
			        }
			    }
			});

			// On click outside navbar, close navbar
			jQuery('body').bind('click', function(e) {
			    if(jQuery(e.target).closest('.navbar').length == 0) {
			        // click happened outside of .navbar, so hide
			        var opened = jQuery('.navbar-collapse').hasClass('collapse in');
			        if ( opened === true ) {
			            jQuery('.navbar-collapse').collapse('hide');
			        }
			    }
			});
		});
	})(jQuery);