// Footer
footer.footer.bg-light
	| © 2017 Copyright: Vladimir Corja
// /.Footer


<!-- Link JavaScript at the end, so pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
script(src='/libs/jquery.min.js')
<!-- Bootstrap's JS -->
script(src='/libs/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')

<!-- Custom scripts here -->
script(type='text/javascript').
	(function($) {
		$(function() { // DOM Ready
			// On hover, close open dropdowns
			$('.dropdown').on('mouseenter mouseleave click tap', function() {
				$(this).toggleClass("open");
			});
			// On click, close navbar
			$('.navbar-collapse ul li a:not(.dropdown-toggle)').bind('click touchstart', function () {
				$('.navbar-toggle:visible').click();
			});
		});
	})(jQuery);