// Footer
footer.footer.bg-light
	| © 2017 Copyright: Manchester United Fan Website
// /.Footer


<!-- Link JavaScript at the end, so pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
script(src='/libs/jquery.min.js')
<!-- Bootstrap's JS -->
script(src='/libs/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')

<!-- Custom scripts here -->
script(type='text/javascript').
	(function($) {
		$(function() { // DOM Ready
			// On resize, close dropdown menu
			$(window).resize(function() {
				if( $(window).width() > 767 ) {
					$('.dropdown.open').removeClass('open');
					$('.dropdown-toggle').blur();
				}
			});

			// On hover, close open dropdowns
			$('ul.nav li.dropdown').hover(
				function() {	// On mouse enter
					if( $(window).width() > 767 ) {
						$(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
						$('.dropdown.open').removeClass('open');
					}
				},
				function() {	// On mouse leave
					if( $(window).width() > 767 ) {
						$(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
					}
				}
			);
		});
	})(jQuery);