title #{title}
meta(http-equiv='Content-Language', content='en')
meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
link(rel='stylesheet', href='/css/style.css')
style.
  header {
    padding: 50px 10px;
    background-color: rgb(240, 77, 77);
    color: #fff;
    font-family: 'Quicksand';
    font-size: 25px;
    text-align: center;
    text-shadow: 0px -1px 0px #df1806;
    border-bottom: 1px solid #df1806;
  }
