<!-- Page Title -->
title #{title}

<!-- Required meta tags -->
meta(http-equiv='Content-Language', content='en')
meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

<!-- Link CSS Bootstrap -->
link(rel='stylesheet', href='/libs/bootstrap.min.css', integrity='sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy', crossorigin='anonymous')
link(rel='stylesheet', href='/libs/bootstrap-responsive.css', crossorigin='anonymous')

<!-- Link Other CSS -->
link(rel='stylesheet', href='/css/style.css')
