// Fixed navbar
nav.navbar.navbar-default.navbar-fixed-top.navbar-light.bg-light
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/')
				img.img-responsive(src='/img/clubLogos/Manchester_United_FC.svg', alt='Logo')
			a.navbar-brand(href='/') Manchester United
		#navbar.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.nav-item
					a(href='/news') NEWS
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						| FIXTURES
						span.caret
					ul.dropdown-menu
						li.dropdown-item
							a.small-caps(href='/fixtures') Schedule & Results
						.divider
						li
							a.small-caps(href='/reserves-fixtures') Reserves Fixtures
						.divider
						li
							a.small-caps(href='/academy-fixtures') Academy Fixtures
				li.nav-item
					a(href='/standings') STANDINGS
				//- li.dropdown
				//- 	a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
				//- 		| STANDINGS
				//- 		span.caret
				//- 	ul.dropdown-menu
				//- 		li
				//- 			a.small-caps(href='/standings') First Team Standings
				//- 		.divider
				//- 		li
				//- 			a.small-caps(href='/reserves-standings') Reserves Standings
				//- 		.divider
				//- 		li
				//- 			a.small-caps(href='/academy-standings') Academy Standings
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						| PLAYERS
						span.caret
					ul.dropdown-menu
						li
							a.small-caps(href='/players') First Team Players
						.divider
						li
							a.small-caps(href='/reserves-players') Reserves Players
						.divider
						li
							a.small-caps(href='/academy-players') Academy Players
				li.dropdown.hidden-case-1
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						| STAFF
						span.caret
					ul.dropdown-menu
						li
							a.small-caps(href='/staff') Coaching Staff
						.divider
						li
							a.small-caps(href='/board-members') Board Members
						.divider
						li
							a.small-caps(href='/medical-team') Medical Team
						.divider
						li
							a.small-caps(href='/scouting-team') Scouting Team
						.divider
						li
							a.small-caps(href='/club-staff') Senior Club Staff
				li.dropdown.hidden-mobile.hidden-md.hidden-lg
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						| OTHER
						span.caret
					ul.dropdown-menu
						li.hidden-case-2
							a.small-caps(href='/staff') Coaching Staff
						.divider.hidden-case-2
						li.hidden-case-2
							a.small-caps(href='/board-members') Board Members
						.divider.hidden-case-2
						li.hidden-case-2
							a.small-caps(href='/medical-team') Medical Team
						.divider.hidden-case-2
						li.hidden-case-2
							a.small-caps(href='/scouting-team') Scouting Team
						.divider.hidden-case-2
						li.hidden-case-2
							a.small-caps(href='/club-staff') Senior Club Staff
						.divider.hidden-case-2
						li
							a.small-caps(href='/kits') Kits
						.divider
						li
							a.small-caps(href='/staff#board') Trophy Room
				li.nav-item.hidden-sm
					a(href='/kits') KITS
				li.nav-item.hidden-sm
					a(href='/trophy-room') TROPHY ROOM
			ul.nav.navbar-right.hidden-xs.hidden-ms.hidden-sm
				a.navbar-brand.hidden-md(href='/')
					|     Manchester United
				a.navbar-brand(href='/')
					img.img-responsive(src='/img/clubLogos/Manchester_United_FC.svg', alt='Logo')
