nav.navbar.navbar-expand-lg.navbar-light.bg-light
	// Brand Item
	a.navbar-brand(href='/')
		img.d-inline-block.align-top.navbar-logo(src='/img/logos/light_logo.svg', width='35', height='35', alt='')
		|     Manchester United
	// Small Screen - Hamburger Menu
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	// Big Screen - Menu
	#navbarSupportedContent.collapse.navbar-collapse
		ul.navbar-nav.mr-auto
			li.nav-item.active
				a.nav-link(href='/')
					| Home 
					span.sr-only (current)
			li.nav-item
				a.nav-link(href='#') Players
			li.nav-item
				a.nav-link(href='/fixtures') Fixtures
			li.nav-item
				a.nav-link(href='/staff') Staff
			li.nav-item.dropdown
				a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					| Fixtures
				.dropdown-menu(aria-labelledby='navbarDropdown')
					a.dropdown-item(href='/fixtures') Schedule & Results
					.dropdown-divider
					a.dropdown-item(href='/fixtures#u23') U23 Fixtures
					a.dropdown-item(href='/fixtures#u18') U18 Fixtures
		form.form-inline.my-2.my-lg-0
			a.navbar-brand(href='/')
				|     Manchester United 
				img.d-inline-block.align-top.navbar-logo(src='/img/logos/light_logo.svg', width='35', height='35', alt='')
