mixin premierLeagueTrophies()
	.content-equal-height.flex-align-center
		h2.small-caps Premier League
	.pad-space-small
	img.image.image-responsive.center-block(src='/img/trophies/premier_league.jpg' alt='Premier League Trophy')
	.content-equal-height
		h3 RECORD 20 TITLES
	h4.columns-4 1908 1911 1952 1956 1957 1965 1967 1993 1994 1996 1997 1999 2000 2001 2003 2007 2008 2009 2011 2013


mixin faCupTrophies()
	.content-equal-height.flex-align-center
		h2.small-caps FA Cup
	.pad-space-small
	img.image.image-responsive.center-block(src='/img/trophies/fa_cup.jpg' alt='FA Cup Trophy')
	.content-equal-height
		h3 12 TITLES
	h4.columns-4 1909 1948 1963 1977 1983 1985 1990 1994 1996 1999 2004 2016


mixin leagueCupTrophies()
	.content-equal-height.flex-align-center
		h2.small-caps League Cup
	.pad-space-small
	img.image.image-responsive.center-block(src='/img/trophies/league_cup.jpg' alt='League Cup Trophy')
	.content-equal-height
		h3 5 TITLES
	h4(style={'margin-bottom': '0px'}) 1992
	h4.no-margin 2006
	h4.no-margin 2009
	h4.no-margin 2010
	h4(style={'margin-top': '0px'}) 2017


mixin communityShieldTrophies()
	.content-equal-height.flex-align-center
		h2.small-caps Community Shield
	.pad-space-small
	img.image.image-responsive.center-block(src='/img/trophies/community_shield.jpg' alt='Community Shield Trophy')
	.content-equal-height
		h3 RECORD 21 TITLES
	h4.columns-4 1908 1911 1952 1956 1957 1965 1967 1977 1983 1990 1993 1994 1996 1997 2003 2007 2008 2010 2011 2013 2016


mixin championsLeagueTrophies()
	.content-equal-height.flex-align-center
		h2.small-caps Champions League
	.pad-space-small
	img.image.image-responsive.center-block(src='/img/trophies/champions_league.jpg' alt='Champions League Trophy')
	.content-equal-height
		h3 3 TITLES
	h4 1968
	h4 1999
	h4 2008


mixin europaLeagueTrophies()
	.content-equal-height.flex-align-center
		h2.small-caps Europa League
	.pad-space-small
	img.image.image-responsive.center-block(src='/img/trophies/europa_league.jpg' alt='Europa League Trophy')
	.content-equal-height
		h3 1 TITLE
	h4 2017


mixin cupWinnersCupTrophies()
	.content-equal-height.flex-align-center
		h2.small-caps Cup Winners' Cup
	.pad-space-small
	img.image.image-responsive.center-block(src='/img/trophies/cup_winners_cup.jpg' alt='Cup Winners\' Cup Trophy')
	.content-equal-height
		h3 1 TITLE
	h4 1991


mixin uefaSuperCupTrophies()
	.content-equal-height.flex-align-center
		h2.small-caps UEFA Super Cup
	.pad-space-small
	img.image.image-responsive.center-block(src='/img/trophies/super_cup.jpg' alt='Super Cup Trophy')
	.content-equal-height
		h3 1 TITLE
	h4 1991


mixin intercontinentalCupTrophies(isSmall)
	.content-equal-height.flex-align-center
		h2.small-caps Intercontinental Cup
	.pad-space-small
	img.image.image-responsive.center-block(src='/img/trophies/intercontinental_cup.jpg' alt='Intercontinental Cup Trophy')
	.content-equal-height
		h3 1 TITLE
	h4 1999


mixin fifaClubWorldCupTrophies()
	.content-equal-height.flex-align-center
		h2.small-caps FIFA Club World Cup
	.pad-space-small
	img.image.image-responsive.center-block(src='/img/trophies/club_world_cup.jpg' alt='FIFA Club World Cup Trophy')
	.content-equal-height
		h3 1 TITLE
	h4 2008
