extends ../layout
block customcss
	style(type="text/css").
		.row {
			margin: 0;
		}
		h3.full-width, h4.full-width {
			margin-top: 10px;
		}
		abbr {
			border-bottom: 0 !important;
			cursor: inherit !important;
			text-decoration: none !important;
		}
		@media(min-width: 992px) {
			.image {
				height: 65px;
				border: none;
			}
		}
		@media (min-width: 768px) and (max-width: 991px) {
			.col-sm-3 {
				padding: 0;
			}
			.image {
				height: 50px;
				border: none;
			}
		}
		@media (max-width: 767px) {
			h3 {
				margin-top: 0;
			}
			.col-xs-12, .col-sm-6 {
				padding: 0;
			}
			h3 {
				font-size: 20px;
			}
		}
		@media (max-width: 479px) {
			.panel-body {
				height: 120px;
			}
			h3 {
				margin: 0;
			}
			.flex-align-center {
				height: 100%;
			}
			.recent-match {
				height: auto;
			}
			h3, h4 {
				font-size: 15px;
			}
		}
block content
	.main.container-fluid.text-center
		//- Include fixture mixin
		include ../../partials/fixtureMixin.pug
		
		h2.menu-title.bold.red Schedule & Results
		.pad-space-small
		+recentFixtures()

		.pad-space-small
		h2.bold.small-caps.blue Preseason & Friendlies
		.pad-space-small
		.panel.panel-default.align-items-center
			.panel-heading
				.row
					.hidden-xs.hidden-ms.hidden-sm.col-md-1
						h4 VENUE
					.col-xs-12.col-sm-9.col-md-8
						h4 RESULT
					.hidden-xs.hidden-ms.col-sm-1.col-md-1
						h4 ROUND
					.hidden-xs.hidden-ms.hidden-sm.col-md-2
						h4 COMPETITION
					.hidden-xs.hidden-ms.col-sm-2.hidden-md.hidden-lg
						h4.float-right
							abbr(title='COMPETITION') COMP.
			each match, index in fixtures.filter(match => match.competition > 7)
				+fixture(match, index)

		.pad-space
		h2.bold.small-caps.blue Regular Season
		.pad-space-small
		.panel.panel-default.align-items-center
			.panel-heading
				.row
					.hidden-xs.hidden-ms.hidden-sm.col-md-1
						h4 VENUE
					.col-xs-12.col-sm-9.col-md-8
						h4 RESULT
					.hidden-xs.hidden-ms.col-sm-1.col-md-1
						h4 ROUND
					.hidden-xs.hidden-ms.hidden-sm.col-md-2
						h4 COMPETITION
					.hidden-xs.hidden-ms.col-sm-2.hidden-md.hidden-lg
						h4.float-right
							abbr(title='COMPETITION') COMP.
			each match, index in fixtures.filter(match => match.competition < 8)
				+fixture(match, index)