extends ../layout
block customcss
	style(type="text/css").
		.row {
			margin: 0;
		}
		h3.full-width, h4.full-width {
			margin-top: 10px;
		}
		abbr {
			cursor: inherit !important;
			text-decoration: none !important;
		}
		.panel-body {
			border: 0.5px solid #F4F4F4;
			height: 120px;
		}
		@media(min-width: 992px) {
			.image {
				height: 65px;
				border: none;
			}
		}
		@media (min-width: 768px) and (max-width: 991px) {
			.col-sm-3 {
				padding: 0;
			}
			.image {
				height: 50px;
				border: none;
			}
		}
		@media (max-width: 767px) {
			.col-xs-12, .col-sm-6 {
				padding: 0;
			}
			h3 {
				margin-top: 0;
				font-size: 20px;
				padding: 1%;
			}
		}
		@media (max-width: 490px) {
			.panel-body {
				height: 125px;
			}
			.flex-align-center {
				height: 100%;
			}
			.recent-match {
				height: auto;
			}
			.col-xs-4 {
				padding: 0;
			}
			h3, h4 {
				font-size: 15px;
			}
		}
block content
	.main.container-fluid.text-center
		//- Include fixture mixin
		include ../../partials/fixtureMixin.pug

		//- Title
		h2.menu-title.bold.red Schedule & Results

		.pad-space-small
		//- Last and Next matches info
		.align-items-center.text-center
			.row
				if (lastMatch != null && nextMatch != null)
					.col-sm-6.col-md-6
						+quickMatchInfo(lastMatch, "LAST MATCH")
					.col-sm-6.col-md-6
						+quickMatchInfo(nextMatch, "NEXT MATCH")
				else if (lastMatch != null)
					.col-sm-12.col-md-12
						+quickMatchInfo(lastMatch, "LAST MATCH")
				else if (nextMatch != null)
					.col-sm-12.col-md-12
						+quickMatchInfo(nextMatch, "NEXT MATCH")

		.pad-space-small
		//- Schedule and results (Preseason)
		h2.bold.small-caps.blue Preseason & Friendlies
		.pad-space-small
		.panel.panel-default.align-items-center
			.panel-heading
				.row
					.hidden-xs.hidden-ms.hidden-sm.col-md-1
						h4 VENUE
					.col-xs-12.col-sm-9.col-md-8
						h4 RESULT
					.hidden-xs.hidden-ms.col-sm-1.col-md-1
						h4 ROUND
					.hidden-xs.hidden-ms.hidden-sm.col-md-2
						h4 COMPETITION
					.hidden-xs.hidden-ms.col-sm-2.hidden-md.hidden-lg
						h4.float-right
							abbr(title='COMPETITION') COMP.
			each match, index in fixtures.filter(match => match.competition > 7)
				+fixture(match, index)

		.pad-space
		//- Schedule and results (Regular Season)
		h2.bold.small-caps.blue Regular Season
		.pad-space-small
		.panel.panel-default.align-items-center
			.panel-heading
				.row
					.hidden-xs.hidden-ms.hidden-sm.col-md-1
						h4 VENUE
					.col-xs-12.col-sm-9.col-md-8
						h4 RESULT
					.hidden-xs.hidden-ms.col-sm-1.col-md-1
						h4 ROUND
					.hidden-xs.hidden-ms.hidden-sm.col-md-2
						h4 COMPETITION
					.hidden-xs.hidden-ms.col-sm-2.hidden-md.hidden-lg
						h4.float-right
							abbr(title='COMPETITION') COMP.
			each match, index in fixtures.filter(match => match.competition < 8)
				+fixture(match, index)