extends layout
block customcss
	style(type="text/css").
		.text-center .image {
			height: 300px;
		}
		.content-equal-height > h3 {
		    line-height: 1.2;
		    display: inline-block;
		    vertical-align: middle;
			margin: 0px;
		}
		.content-equal-height > h4 {
		    line-height: 1.2;
		    display: inline-block;
		    vertical-align: middle;
			margin: 0px;
			padding-bottom: 10px;
		}
		@media (max-width: 479px) {
			h5 {
				font-size: 20px;
			}
			.text-center .image {
				height: 270px;
				width: 180px;
			}
		}
		@media (min-width: 717px) and (max-width: 767px) {
			h5 {
				font-size: 18px;
			}
		}
block content
	.main.container-fluid
		.row.align-items-center
			.pad-space.hidden-xs.hidden-sm
			.text-center.col-sm-push-6.col-sm-6.col-md-push-5.col-md-6
				h1.text-center.bold.red Oops... This page does not exist or has been moved!
				.pad-space.hidden-xs
				h3 #{'Please visit our '}
					span
						a(href='/') #{'homepage'}
						| , or use the menu above to navigate to the page you want.
			.col-sm-pull-6.col-sm-6.col-md-pull-5.col-md-4
				.pad-space.hidden-md.hidden-lg
				img.image.image-responsive(src='/img/404.jpg' alt='404 Error Image')
		.pad-space-small
		h4.text-center(style={'margin': '5%'}) To distract you from this inconvenience, let us remind you that Manchester United is England's most successful club ever!
		h4.text-center(style={'margin': '5%'}) View the trophy room below to see every major trophy won by the club.
		.pad-space-small
		.row.text-center
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				.content-equal-height
					h3.small-caps Premier League
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/premier_league.jpg' alt='Premier League Trophy')
				.content-equal-height
					h4 RECORD 20 TITLES
				h5.columns-4 1908 1911 1952 1956 1957 1965 1967 1993 1994 1996 1997 1999 2000 2001 2003 2007 2008 2009 2011 2013
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				.content-equal-height
					h3.small-caps FA Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/fa_cup.jpg' alt='FA Cup Trophy')
				.content-equal-height
					h4 12 TITLES
				h5.columns-4 1909 1948 1963 1977 1983 1985 1990 1994 1996 1999 2004 2016
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				.content-equal-height
					h3.small-caps League Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/league_cup.jpg' alt='League Cup Trophy')
				.content-equal-height
					h4 5 TITLES
				h4(style={'margin-bottom': '0px'}) 1992
				h4.no-margin 2006
				h4.no-margin 2009
				h4.no-margin 2010
				h4(style={'margin-top': '0px'}) 2017
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				.content-equal-height
					h3.small-caps Community Shield
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/community_shield.jpg' alt='Community Shield Trophy')
				.content-equal-height
					h4 RECORD 21 TITLES
				h5.columns-4 1908 1911 1952 1956 1957 1965 1967 1977 1983 1990 1993 1994 1996 1997 2003 2007 2008 2010 2011 2013 2016
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				.content-equal-height
					h3.small-caps Champions League
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/champions_league.jpg' alt='Champions League Trophy')
				.content-equal-height
					h4 3 TITLES
				h4 1968
				h4 1999
				h4 2008
			.col-lg-offset-1
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				.content-equal-height
					h3.small-caps Europa League
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/europa_league.jpg' alt='Europa League Trophy')
				.content-equal-height
					h4 1 TITLE
				h4 2017
			.col-ms-6.col-sm-3.col-md-3.col-lg-offset-2.col-lg-2.large-height
				.content-equal-height
					h3.small-caps Cup Winners' Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/cup_winners_cup.jpg' alt='Cup Winners\' Cup Trophy')
				.content-equal-height
					h4 1 TITLE
				h4 1991
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				.content-equal-height
					h3.small-caps UEFA Super Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/super_cup.jpg' alt='Super Cup Trophy')
				.content-equal-height
					h4 1 TITLE
				h4 1991
			.col-ms-6.col-sm-offset-3.col-sm-3.col-md-offset-3.col-md-3.col-lg-offset-0.col-lg-2.small-height
				.content-equal-height
					h3.small-caps FIFA Club World Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/club_world_cup.jpg' alt='Intercontinental Trophy')
				.content-equal-height
					h4 1 TITLE
				h4 2008
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.small-height
				.content-equal-height
					h3.small-caps Intercontinental Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/intercontinental_cup.jpg' alt='FIFA Club World Cup Trophy')
				.content-equal-height
					h4 1 TITLE
				h4 1999