extends layout
block content
	.main.container-fluid
		.row(style={'align-items': 'center'})
			.pad-space.hidden-xs.hidden-sm
			.text-center.col-sm-push-6.col-sm-6.col-md-push-5.col-md-6
				h1.text-center(style={'color': 'red', 'font-weight': 'bold'}) Oops... This page does not exist or has been moved!
				.pad-space.hidden-xs
				h3 Please visit our
					span
						a(href='/') #{' homepage'}
						| , or use the menu above to navigate to the page you want.
			.col-sm-pull-6.col-sm-6.col-md-pull-5.col-md-4
				.pad-space.hidden-md.hidden-lg
				img.image.image-responsive(src='/img/404.jpg')
		.pad-space
		h4.text-center To distract you from this inconvenience, let us remind you that Manchester United is England's most successful club ever!
		h4.text-center View the trophy room below to see every major trophy won by the club.
