extends layout
block customcss
	style(type="text/css").
		.text-center .image {
			height: 300px;
		}
		.content-equal-height > h3 {
		    line-height: 1.2;
		    display: inline-block;
		    vertical-align: middle;
			margin: 0px;
		}
		.content-equal-height > h4 {
		    line-height: 1.2;
		    display: inline-block;
		    vertical-align: middle;
			margin: 0px;
			padding-bottom: 10px;
		}
		h2.small-caps {
			font-size: 24px;
			font-weight: bold;
		}
		@media (max-width: 479px) {
			h5 {
				font-size: 20px;
			}
			.text-center .image {
				height: 270px;
				width: 180px;
			}
		}
		@media (min-width: 717px) and (max-width: 767px) {
			h5 {
				font-size: 18px;
			}
		}
block content
	.main.container-fluid
		//- Include trophies mixin
		include ../partials/trophiesMixin.pug

		.row.align-items-center
			.pad-space.hidden-xs.hidden-sm
			.text-center.col-sm-push-6.col-sm-6.col-md-push-5.col-md-6
				h1.text-center.bold.red Oops... This page does not exist or has been moved!
				.pad-space.hidden-xs
				h3 #{'Please visit our '}
					span
						a(href='/') #{'homepage'}
						| , or use the menu above to navigate to the page you want.
			.col-sm-pull-6.col-sm-6.col-md-pull-5.col-md-4
				.pad-space.hidden-md.hidden-lg
				img.image.image-responsive(src='/img/404.jpg' alt='404 Error Image')
		.pad-space-small
		h4.text-center(style={'margin': '5%'}) To distract you from this inconvenience, let us remind you that Manchester United is one of England's most successful clubs ever!
		h4.text-center(style={'margin': '5%'}) View the trophy room below to see every major trophy won by the club.
		.pad-space-small
		.row.text-center
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				+premierLeagueTrophies()
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				+faCupTrophies()
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				+leagueCupTrophies()
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				+communityShieldTrophies()
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				+championsLeagueTrophies()
			.col-lg-offset-1
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				+europaLeagueTrophies()
			.col-ms-6.col-sm-3.col-md-3.col-lg-offset-2.col-lg-2.large-height
				+cupWinnersCupTrophies()
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.large-height
				+uefaSuperCupTrophies()
			.col-ms-6.col-sm-offset-3.col-sm-3.col-md-offset-3.col-md-3.col-lg-offset-0.col-lg-2.small-height
				+fifaClubWorldCupTrophies()
			.col-ms-6.col-sm-3.col-md-3.col-lg-2.small-height
				+intercontinentalCupTrophies()
