extends layout
block content
	.main.container-fluid
		h1 Welcome to the Manchester United Fan Site!
		.row
			.col-ms-6.col-sm-6.col-md-4
				h2.menu-title Fixtures
				a.menu-container(href='/fixtures')
					img.image.img-responsive(src='/img/menu/fixtures.jpg' alt='Manchester United Fixtures')
					.overlay
						.overlay-text View the club's schedule and results
			.col-ms-6.col-sm-6.col-md-4
				h2.menu-title Standings
				a.menu-container(href='/standings')
					img.image.img-responsive(src='/img/menu/standings.jpg' alt='Manchester United Standings')
					.overlay
						.overlay-text Learn how the club is faring in competitions
			.col-ms-6.col-sm-6.col-md-4
				h2.menu-title Players
				a.menu-container(href='/players')
					img.image(src='/img/menu/players.jpg' alt='Manchester United Players')
					.overlay
						.overlay-text Get to know the club's Senior and Youth team players
			.col-ms-6.col-sm-6.col-md-4
				h2.menu-title Staff
				a.menu-container(href='/staff')
					img.img-responsive.image(src='/img/menu/staff.jpg' alt='Manchester United Staff')
					.overlay
						.overlay-text Meet the club's coaching staff and board members
			.col-ms-6.col-sm-6.col-md-4
				h2.menu-title Kits
				a.menu-container(href='/kits')
					img.img-responsive.image(src='/img/kits/home.jpg' alt='Manchester United Kits')
					.overlay
						.overlay-text See the colors that the team will don this season
			.col-ms-6.col-sm-6.col-md-4
				h2.menu-title Trophy Room
				a.menu-container(href='/trophy-room')
					img.img-responsive.image(src='/img/menu/trophy_room.jpg' alt='Manchester United Trophy Room')
					.overlay
						.overlay-text View all the trophies Manchester United has won
