extends layout
block content
	.main.container-fluid
		h1 Welcome to the Manchester United Fan Site!
		.row
			.col-ms-6.col-sm-6.col-md-4
				h2.menu-title Fixtures
				a.menu-container(href='/fixtures')
					img.image.img-responsive(src='/img/menu/fixtures.jpg')
					.overlay
						.overlay-text View the club's schedule and results
			.col-ms-6.col-sm-6.col-md-4
				h2.menu-title Players
				a.menu-container(href='/players')
					img.image(src='/img/menu/players.jpg')
					.overlay
						.overlay-text Get to know the club's Senior and Youth team players
			.col-ms-6.col-sm-6.col-md-4
				h2.menu-title Staff
				a.menu-container(href='/staff')
					img.img-responsive.image(src='/img/menu/staff.jpg')
					.overlay
						.overlay-text Meet the club's coaching staff and board members
			.col-ms-6.col-sm-6.col-md-4
				h2.menu-title Kits
				a.menu-container(href='/kits')
					img.img-responsive.image(src='/img/kits/home.jpg')
					.overlay
						.overlay-text See the colors that the team will don during this season
