extends layout
block customcss
	style(type="text/css").
		.col-md-7 {
			padding-left: 20px;
			padding-right: 0;
		}
		.col-md-5 {
			padding-left: 2%;
			padding-right: 20px;
		}
		.col-xs-12 {
			padding-left: 5%;
			padding-right: 5%;
		}
		h1::before { /* For HTML ID to scroll to correct spot (not to the next child) */
			display: block;
			content: " ";
			margin-top: -80px;
			height: 80px;
			visibility: hidden;
			pointer-events: none;
		}
block content
	.main.container-fluid
		h1#home HOME KIT 2019/20
		.row
			.col-xs-12.col-ms-12.col-sm-7.col-md-7
				h2.small-caps.text-center Players
				picture
					source(type='image/webp' srcset='/img/kits/home.webp')
					img.image(src='/img/kits/home.jpg' alt='Manchester United Home Kit')
			.col-xs-12.col-ms-12.col-sm-5.col-md-5
				h2.small-caps.text-center Goalkeepers
				picture
					source(type='image/webp' srcset='/img/kits/gk_home.webp')
					img.image(src='/img/kits/gk_home.jpg' alt='Manchester United Goalkeeper Home Kit')
		.pad-space
		h1#away AWAY KIT 2019/20
		.row
			.col-xs-12.col-ms-12.col-sm-7.col-md-7
				h2.small-caps.text-center Players
				picture
					source(type='image/webp' srcset='/img/kits/away.webp')
					img.image(src='/img/kits/away.jpg' alt='Manchester United Away Kit')
			.col-xs-12.col-ms-12.col-sm-5.col-md-5
				h2.small-caps.text-center Goalkeepers
				picture
					source(type='image/webp' srcset='/img/kits/gk_away.webp')
					img.image(src='/img/kits/gk_away.jpg' alt='Manchester United Goalkeeper Away Kit')
		.pad-space
		h1#third THIRD KIT 2019/20
		.row
			.col-xs-12.col-ms-12.col-sm-7.col-md-7
				h2.small-caps.text-center Players
				picture
					source(type='image/webp' srcset='/img/kits/third.webp')
					img.image(src='/img/kits/third.jpg' alt='Manchester United Third Kit')
			.col-xs-12.col-ms-12.col-sm-5.col-md-5
				h2.small-caps.text-center Goalkeepers
				picture
					source(type='image/webp' srcset='/img/kits/gk_third.webp')
					img.image(src='/img/kits/gk_third.jpg' alt='Manchester United Goalkeeper Third Kit')