extends layout
block customcss
	style(type="text/css").
		.image {
			height: 300px;
			width: auto;
		}
		h2 {
		    line-height: 1.25;
		    display: inline-block;
		    vertical-align: middle;
			margin: 0px;
		}
		h3 {
		    line-height: 1.25;
		    display: inline-block;
		    vertical-align: middle;
			margin: 0px;
			padding-bottom: 10px;
		}
		@media (min-width: 440px) and (max-width: 479px) {
			h4 {
				font-size: 20px;
			}
		}
		@media (min-width: 866px) and (max-width: 991px) {
			h4 {
				font-size: 22px;
			}
		}
		h1::before { /* For HTML ID to scroll to correct spot (not to the next child) */
			display: block;
			content: " ";
			margin-top: -80px;
			height: 80px;
			visibility: hidden;
			pointer-events: none
		}
block content
	.main.container-fluid
		//- Include trophies mixin
		include ../partials/trophiesMixin.pug

		h1.bold.red TROPHY ROOM
		br
		h1.bold.text-center.blue#english DOMESTIC TROPHIES
		.row.text-center
			.col-ms-6.col-sm-6.col-md-3.large-height
				+premierLeagueTrophies()
			.col-ms-6.col-sm-6.col-md-3.large-height
				+faCupTrophies()
			.col-ms-6.col-sm-6.col-md-3.large-height
				+leagueCupTrophies()
			.col-ms-6.col-sm-6.col-md-3.large-height
				+communityShieldTrophies()
		br
		h1.bold.text-center.blue#european EUROPEAN TROPHIES
		.row.text-center
			.col-ms-6.col-sm-6.col-md-3.small-height
				+championsLeagueTrophies()
			.col-ms-6.col-sm-6.col-md-3.small-height
				+europaLeagueTrophies()
			.col-ms-6.col-sm-6.col-md-3.small-height
				+cupWinnersCupTrophies()
			.col-ms-6.col-sm-6.col-md-3.small-height
				+uefaSuperCupTrophies()
		br
		h1.bold.text-center.blue#international WORLDWIDE TROPHIES
		.row.text-center
			.col-ms-6.col-sm-6.col-md-offset-2.col-md-3.small-height
				+intercontinentalCupTrophies()
			.col-ms-6.col-sm-6.col-md-offset-2.col-md-3.small-height
				+fifaClubWorldCupTrophies()
