extends layout
block customcss
	style(type="text/css").
		.image {
			height: 300px;
			width: auto;
		}
		h2 {
		    line-height: 1.25;
		    display: inline-block;
		    vertical-align: middle;
			margin: 0px;
		}
		h3 {
		    line-height: 1.25;
		    display: inline-block;
		    vertical-align: middle;
			margin: 0px;
			padding-bottom: 10px;
		}
		@media (min-width: 440px) and (max-width: 479px) {
			h4 {
				font-size: 20px;
			}
		}
		@media (min-width: 866px) and (max-width: 991px) {
			h4 {
				font-size: 22px;
			}
		}
		h1::before { /* For HTML ID to scroll to correct spot (not to the next child) */
			display: block;
			content: " ";
			margin-top: -80px;
			height: 80px;
			visibility: hidden;
			pointer-events: none
		}
block content
	.main.container-fluid
		h1.bold.red TROPHY ROOM
		br
		h1.bold.text-center.blue#english DOMESTIC TROPHIES
		.row.text-center
			.col-ms-6.col-sm-6.col-md-3.large-height
				.content-equal-height
					h2.small-caps Premier League
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/premier_league.jpg')
				.content-equal-height
					h3 RECORD 20 TITLES
				h4.columns-4 1908 1911 1952 1956 1957 1965 1967 1993 1994 1996 1997 1999 2000 2001 2003 2007 2008 2009 2011 2013
			.col-ms-6.col-sm-6.col-md-3.large-height
				.content-equal-height
					h2.small-caps FA Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/fa_cup.jpg')
				.content-equal-height
					h3 12 TITLES
				h4.columns-4 1909 1948 1963 1977 1983 1985 1990 1994 1996 1999 2004 2016
			.col-ms-6.col-sm-6.col-md-3.large-height
				.content-equal-height
					h2.small-caps League Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/league_cup.jpg')
				.content-equal-height
					h3 5 TITLES
				h4(style={'margin-bottom': '0px'}) 1992
				h4.no-margin 2006
				h4.no-margin 2009
				h4.no-margin 2010
				h4(style={'margin-top': '0px'}) 2017
			.col-ms-6.col-sm-6.col-md-3.large-height
				.content-equal-height
					h2.small-caps Community Shield
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/community_shield.jpg')
				.content-equal-height
					h3 RECORD 21 TITLES
				h4.columns-4 1908 1911 1952 1956 1957 1965 1967 1977 1983 1990 1993 1994 1996 1997 2003 2007 2008 2010 2011 2013 2016
		br
		h1.bold.text-center.blue#european EUROPEAN TROPHIES
		.row.text-center
			.col-ms-6.col-sm-6.col-md-3.small-height
				.content-equal-height
					h2.small-caps Champions League
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/champions_league.jpg')
				.content-equal-height
					h3 3 TITLES
				h4 1968
				h4 1999
				h4 2008
			.col-ms-6.col-sm-6.col-md-3.small-height
				.content-equal-height
					h2.small-caps Europa League
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/europa_league.jpg')
				.content-equal-height
					h3 1 TITLE
				h4 2017
			.col-ms-6.col-sm-6.col-md-3.small-height
				.content-equal-height
					h2.small-caps Cup Winners' Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/cup_winners_cup.jpg')
				.content-equal-height
					h3 1 TITLE
				h4 1991
			.col-ms-6.col-sm-6.col-md-3.small-height
				.content-equal-height
					h2.small-caps UEFA Super Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/super_cup.jpg')
				.content-equal-height
					h3 1 TITLE
				h4 1991
		br
		h1.bold.text-center.blue#international WORLDWIDE TROPHIES
		.row.text-center
			.col-ms-6.col-sm-6.col-md-offset-2.col-md-3.small-height
				.content-equal-height
					h2.small-caps Intercontinental Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/intercontinental_cup.jpg')
				.content-equal-height
					h3 1 TITLE
				h4 1999
			.col-ms-6.col-sm-6.col-md-offset-2.col-md-3.small-height
				.content-equal-height
					h2.small-caps FIFA Club World Cup
				.pad-space-small
				img.image.image-responsive.center-block(src='img/trophies/club_world_cup.jpg')
				.content-equal-height
					h3 1 TITLE
				h4 2008
