.navbar {
  position: fixed;  /* Set the navbar to fixed position */
  top: 0;           /* Position the navbar at the top of the page */
  width: 100%;      /* Full width */
  overflow: hidden;
}

.navbar-logo {
  padding: 1%;
}

.nav-item {
  /*padding: 1%;*/
  margin-left: 5%;
}

.nav-item:hover {
  background-color: #f1f1f1;
}

.main {
  margin-top: 70px;
}

.footer {
	position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1%;
}