/* -------------------------------------------------------- */
/* -------------------- FONTS & STYLES -------------------- */
/* -------------------------------------------------------- */

.all-caps {
  text-transform: uppercase;
}

.small-caps {
  font-variant: small-caps !important;
  text-rendering: auto;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.blue-upcoming-match {
  color: #009CDE;
}

.postponed-match {
  color: #D01414;
}

/* -------------------------------------------------------- */
/* ------------------ MARGINS & PADDING ------------------- */
/* -------------------------------------------------------- */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.pad-space {
  height: 40px;
}

.pad-space-small {
  height: 20px;
}

/* -------------------------------------------------------- */
/* ------------------ CONTENT ALIGNMENT ------------------- */
/* -------------------------------------------------------- */

.align-items-center {
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pre-line {
  white-space: pre-line;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

/* -------------------------------------------------------- */
/* ------------------------ NAVBAR ------------------------ */
/* -------------------------------------------------------- */

.navbar {
  position: fixed;  /* Set the navbar to fixed position */
  top: 0;           /* Position the navbar at the top of the page */
  width: 100%;      /* Full width */
}

.navbar-brand {
  padding: 10px 15px;
  line-height: 30px;
  color: #575757 !important;
}

@media (max-width: 767px) {
  .navbar-brand {
    padding: 10px;
  }
}

@media (max-width: 300px) {
  .navbar-brand {
    font-size: 14px;
  }
}

.navbar-brand > img {
  height: auto;
  width: 30px;
}

.nav-item:hover {
  background-color: #f1f1f1;
}

.navbar-fixed-top .navbar-collapse {
  max-height: none;
}

@media (min-width: 768px) {
  .dropdown-menu {
    margin-left: -40%;
    padding: 5%;
    background-color: #fdfdfd;
  }
  .dropdown-menu > li > a {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .dropdown:hover {
    background-color: #f1f1f1;
  }
}

@media (max-width: 480px) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
  }
}

.hidden-mobile, .hidden-case-1 {
  display: block;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
  .hidden-case-2 {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 838px) {
  .hidden-case-1 {
    display: none !important;
  }
  .hidden-case-2 {
    display: block;
  }
}

@media (min-width: 839px) {
  .hidden-case-2 {
    display: none !important;
  }
}

/* -------------------------------------------------------- */
/* ---------------------- MAIN PAGE ----------------------- */
/* -------------------------------------------------------- */

.main {
  margin-top: 70px;
  margin-bottom: 70px;
}

.main.container-fluid > h1 {
  text-align: center;
}

/* -------------------------------------------------------- */
/* --------------------- MENU OPTIONS --------------------- */
/* -------------------------------------------------------- */

.menu-title {
  text-align: center;
  text-transform: uppercase;
  text-rendering: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 2px solid gray;
}

.overlay {
  background-color: rgba(80, 0, 0, 0.7);
  border-left: 1px solid #1f1f1f;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 35%;
  border-radius: 20px;
}

.overlay-text {
  color: white;
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (min-width: 480px) and (max-width: 540px) {
  .overlay-text {
    font-size: 0.9em;
  }
}

@media (min-width: 540px) and (max-width: 600px) {
  .overlay-text {
    font-size: 1.05em;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .overlay-text {
    font-size: 1.2em;
  }
}

@media (min-width: 992px) and (max-width: 1051px) {
  .overlay-text {
    font-size: 1.1em;
  }
}

/* -------------------------------------------------------- */
/* ---------------------- FIXTURES ------------------------ */
/* -------------------------------------------------------- */

.quick-match-info .panel-heading, .fixtures-container .panel-heading, .fixtures-container .main-score-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.quick-match-info .panel-body, .fixtures-large-view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.quick-match-info h3, .fixtures-container h3 {
  margin: 0;
}

@media (max-width: 767px) {
  .quick-match-info .panel-body, .fixtures-container .panel-body {
    padding: 0;
  }
}

.match-penalty-result > h5 {
  margin: 0;
  padding: 5px;
  border-bottom: 2px solid #d3d3d3;
}

.recent-match .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.recent-match .container > p, .recent-match-mobile .container > p, .main-score-status > p {
  float: left;
  height: 30px;
  width: 30px;
  margin-top: 8px;
}

.recent-match-mobile {
  align-items: center;
  justify-content: center;
  padding: 0;
}

.recent-match-mobile > .container {
  height: 55px;
}

.recent-match-mobile > .container h4 {
  text-align: left;
  padding-left: 50px;
}

.fixtures-container .image-container {
  padding: 15px;
}

.fixtures-container .image {
  height: 70px;
}

.padding-right-30-only {
  padding: 0 30px 0 0;
}

abbr {
  cursor: inherit !important;
  text-decoration: none !important;
}

/* -------------------------------------------------------- */
/* ---------------------- STANDINGS ----------------------- */
/* -------------------------------------------------------- */

@media (min-width:992px) {
  .col-half {width: 44.33333334%;}
  .col-half-offset-left {margin-left: 2.83333333%;}
  .col-half-offset-right {margin-right: 2.83333333%;}
}

/* -------------------------------------------------------- */
/* ----------------------- PLAYERS ------------------------ */
/* -------------------------------------------------------- */

.players-panel > .panel-heading {
  height: 60px;
}

/* -------------------------------------------------------- */
/* ------------------- PLAYER PROFILE --------------------- */
/* -------------------------------------------------------- */

/* Player Overview Pitch. */
.player-position-pitch {
  position: relative;
  width: 350px;
  height: 240px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.player-position {
  height: 30px;
  width: 30px;
  background-color: #0b00e0;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #fff;
  box-shadow: 0 0 0 3px #0b00e0;
}
.gk-overview {
  position: absolute;
  margin-top: 200px;
  margin-left: 165px;
}
.cb-left-overview {
  position: absolute;
  margin-top: 175px;
  margin-left: 105px;
}
.cb-right-overview {
  position: absolute;
  margin-top: 175px;
  margin-left: 225px;
}
.rb-overview {
  position: absolute;
  margin-top: 155px;
  margin-left: 300px;
}
.lb-overview {
  position: absolute;
  margin-top: 155px;
  margin-left: 28px;
}
.dm-overview {
  position: absolute;
  margin-top: 125px;
  margin-left: 165px;
}
.cm-overview {
  position: absolute;
  margin-top: 75px;
  margin-left: 165px;
}
.am-overview {
  position: absolute;
  margin-top: 40px;
  margin-left: 165px;
}
.rw-overview {
  position: absolute;
  margin-top: 40px;
  margin-left: 255px;
}
.lw-overview {
  position: absolute;
  margin-top: 40px;
  margin-left: 70px;
}
.st-overview {
  position: absolute;
  margin-top: 5px;
  margin-left: 165px;
}
.position-overview-competent {
  opacity: 0.4;
}

/* -------------------------------------------------------- */
/* ------------------------ STAFF ------------------------- */
/* -------------------------------------------------------- */

@media (max-width: 767px) {
  .staff > .col-sm-6 {
    padding: 0;
  }
}

.staff .panel-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.staff .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.staff .container > p {
  float: left;
  height: 20px;
  width: 30px;
  margin-top: 8px;
}

.staff .container > p > img {
  height: 100%;
  width: 100%;
}

.staff .container > h6 {
  vertical-align: center;
  height: 20px;
  padding: 5px;
}

/* -------------------------------------------------------- */
/* --------------------- TROPHY ROOM ---------------------- */
/* -------------------------------------------------------- */

.large-height {   /* Trophy box height (large) */
  height: 620px;
}

.small-height {   /* Trophy box height (small) */
  height: 580px;
}

.content-equal-height {   /* Trophy box content height */
  margin-top: 15px;
  height: 70px;
  line-height: 70px;
}

.columns-2 {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count:    2; /* Firefox */
  column-count:         2;
  -webkit-column-gap:   20px; /* Chrome, Safari, Opera */
  -moz-column-gap:      20px; /* Firefox */
  column-gap:           20px;
  -webkit-column-rule: 1px double #ccc; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px double #ccc; /* Firefox */
  column-rule: 1px double #ccc;
}

.columns-3 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count:    3; /* Firefox */
  column-count:         3;
  -webkit-column-gap:   20px; /* Chrome, Safari, Opera */
  -moz-column-gap:      20px; /* Firefox */
  column-gap:           20px;
  -webkit-column-rule: 1px double #ccc; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px double #ccc; /* Firefox */
  column-rule: 1px double #ccc;
}

.columns-4 {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count:    4; /* Firefox */
  column-count:         4;
  -webkit-column-gap:   20px; /* Chrome, Safari, Opera */
  -moz-column-gap:      20px; /* Firefox */
  column-gap:           20px;
  -webkit-column-rule: 1px double #ccc; /* Chrome, Safari, Opera */
  -moz-column-rule: 1px double #ccc; /* Firefox */
  column-rule: 1px double #ccc;
}

/* -------------------------------------------------------- */
/* ------------------------ FOOTER ------------------------ */
/* -------------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1%;
}


/* -------------------------------------------------------- */
/* ----------------- BOOTSTRAP 4.0 THEMES ----------------- */
/* -------------------------------------------------------- */
.bg-light {
  background-color: #f8f9fa!important;
}
a.bg-light:focus,a.bg-light:hover,button.bg-light:focus,button.bg-light:hover {
  background-color: #dae0e5!important;
}
.bg-dark {
  background-color: #343a40!important;
}
a.bg-dark:focus,a.bg-dark:hover,button.bg-dark:focus,button.bg-dark:hover {
  background-color: #1d2124!important;
}
.bg-info{
  background-color: #d9edf7!important;
}
a.bg-info:focus,a.bg-info:hover,button.bg-info:focus,button.bg-info:hover {
  background-color: #afd9ee!important;
}
