extends ../layout
block content
	.main.container-fluid.staff
		//- Include staff mixin
		include ../../partials/staffMixin.pug

		h2.blue.text-center.small-caps(style={'margin-bottom': '20px'}) Medical Team
		.pad-space-small
		each member in medicalData
			+staffMixin(member)
			